* {
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

:root {
  color-scheme: light dark;

  --spacing: 20px;
}

html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font: -apple-system-short-body;
  gap: var(--spacing);
  height: 100%;
  justify-content: center;
  margin: 0 calc(var(--spacing) * 2);
  text-align: center;
}
